*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 1500px;
    margin: 30px auto;
    background-color: orangered;
    text-align: center;
}
.allground{
    width: 1000px;
    margin: 20px auto;
    background-color: rgb(240, 141, 27);
    text-align: center;
}
.container{
    width: 1000px;
    margin: 20px auto;
    /* background-color: rgb(240, 141, 27); */
    text-align: center;
}
.header{
    /* background-color: aqua; */
    padding: 24px 0;
}
.logo{
    width: calc(40% - 5px);
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 100px;
}
.logo a{
    color: #1f1f1f;
    font-size: 40px;
    text-decoration: none;
}
.menu{
    width: 50%;
    display: inline-block;
}
.menu ul{
    list-style: none;
    text-align: left;
}
.menu li{
    display: inline-block;
    margin: 0 24px;
}
.menu li a{
    color: #1f1f1f;
    text-decoration: none;
}
.main{
    padding: 24px 0;
}
.content{
    width: calc(40% - 5px);
    display: inline-block;
    vertical-align: middle;
    padding-left: 45px;
    text-align: left;
}
.pic{
    width: 50%;
    height: 500px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 50px;
}
.pic img{
    height: 500px;
}
.top-meme{
    float: left;
    height: 50px;
    font-size: 20px;
    padding-left: 90px;
    padding-top: 10px;
}
.top-pic{
    width: 900px;
    height: 150px;
    border-radius: 10px;
    display: inline-block;
}
.top-pic img{
    padding: 0 20px;
    border-radius: 50px;
    width: 32%;
}
.pic-cat{
    width: calc(50% - 5px);
    height: 295px;
    display: inline-block;
    vertical-align: middle;
}
.pic-cat img{
    width: 100%;
}
.content-about{
    width: calc(45% - 5px);
    height: 200px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.shop{
    float: left;
    height: 50px;
    font-size: 20px;
    padding-left: 90px;
    padding-top: 10px;
}
.collection-cat{
    width: 900px;
    height: 300px;
    border-radius: 10px;
    display: inline-block;
}
.collection-cat img{
    padding: 20px 20px;
    border-radius: 50px;
    width: 32%;
}
.link-shop{
    width: 15%;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    background: orangered;
}
.shop-meme{
    color: #1f1f1f;
    text-decoration: none;
}
.look{
    width: calc(50% - 5px);
    height: 295px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
}
.look img{
    height: 300px;
    border-radius: 20px;
}
.post{
    width: calc(40% - 5px);
    display: inline-block;
    vertical-align: middle;
    padding: 24px;
    text-align: center;
}
.start{
    width: 40%;
    height: 30px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    background: orangered;
}
.getstart{
    color: #1f1f1f;
    text-decoration: none;
}
.footer-menu{
    width: 50%;
    display: inline-block;
    margin: 24px auto;
    /* background-color: lightpink; */
}
.footer-menu ul{
    list-style: none;
    text-align: right;
}
.footer li{
    display: inline-block;
    margin: 0 24px;
}
.footer-menu li a{
    color: #1f1f1f;
    text-decoration: none;
}